@import url(../assets/fonts/fonts.css);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.text-center {  
    margin: 0 auto;
    text-align: center;
} 

.form-wrap {
    width: 570px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin: 100px auto;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 34px 16px;
}
.form__heading {
    color: #1C1C1C;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}
.form__section {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.form__item {
    position: relative;
    display: inline-flex;
    gap: 7px;
    color: #545454;
    font-size: 15px;
    letter-spacing: -0.2;
    font-weight: 400;
}
.form__item-radio {
    align-items: center;
    gap: 8px;
}

.input-text, .input-select{
    box-sizing: border-box;
    height: 38px;
    width: 245px;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    background-color: #FFFFFF;
    padding: 0 6px;
    font-size: 15px;
    color: #000000;
}
.input-text__email {
    width: 500px;
}
.input-text:focus, .input-select:focus {
    outline: 1px solid #007BFF;
    border: 0;
}
.input-select {
    cursor: pointer;
}
.input-select:disabled {
    color: #969696;
}
.input-select__option:hover {
    box-sizing: border-box;
    background-color: #8a8a8a;
}
.input-hidden {
    opacity: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer; 
}
.input-radio {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
}
.input-hidden:checked ~ .input-radio {
    border: 6px solid #007BFF;
    transition: 0.1s;
}

.form__submit {
    cursor: pointer;
    width: 500px;
    height: 38px;
    background-color:#007BFF;
    color: #E4E4E4;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-align: center;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-family: "Roboto"; 
}
.form__prompt {
    width: 390px;
    color: #969696;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
}
.form__prompt__link {
    text-decoration: none;
    color: #007BFF;
    font-family: "Inter";
    font-size: 13px;
    line-height: 18px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #E4E4E4;
}
.form__footer {
    gap:20px;
    justify-content: center;
}
.form__footer__heading {
    color: #545454;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.2px;
}
.form__footer__link {
    text-decoration: none;
    color: #007BFF;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0,1px;
    font-weight: 500;
}
