@import url(../assets/fonts/Farro/Farro-Light.css);
@import url(../assets/fonts/Francois-one/FrancoisOne.css);
@import url(../assets/fonts/PT-Sans/PT-Sans.css);
@import url(../assets/fonts/Staatliches/Staatliches.css);
@import url(../assets/fonts/Tourney/Tourney.css);
@import url(../assets/fonts/Roboto/Roboto.css);

body {
    background-color: #FFFFFF;
}

.reset-link, .reset-link:active, .reset-link:hover {
  text-decoration: none;
}
.inline-block {
    display: inline-block;
}
.small {
    font-family: "Farro";
    text-transform: none;
    font-size: 16px;
    vertical-align: text-top;
    margin-left: 10px;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.color-selection {
    background-color: #d1d1d1;
    padding: 5px 0;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}
.fixed {
    position: fixed;
}
.divider {
    width: 100px;
    height: 8px;
    background-color: #000000;
    margin-bottom: 20px;
}

.header {
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    align-items: center;
    margin-bottom: 80px;
}

.header__wrapper {
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.language-button {
    cursor: pointer;
    background: none;
    display: inline-block;	
    font-family: "Tourney";
    font-size: 22px;
    line-height: 18px;
    color: #000000;
    border: 1px #000000;
    padding: 0;
    margin-right: 50px;
}
.language-button:hover {
    color: #808080;
}
.header__documentation-link {
    font-family: "Staatliches";
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}
.header__documentation-link:hover, .sidebar__item:hover{
    color: #808080;
}



.who-s-using__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 20px 15px;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}
.who-s-using__wrapper {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.who-s-using__heding {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}
.who-s-using__divider {
    margin: auto 20px auto 0;
    vertical-align: middle;
}
.flip-card {
    align-content: center;
    width: 270px;
    height: 180px;
    border-radius: 8px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
    cursor: pointer;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.flip-card-front {
    background-color: #E6E6E6;
}
.flip-card-back {
    background-color: #1A1A1A ;
    transform: rotateX(180deg);
}
.flip-card-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


.wrapper-left {
    justify-content: left;
}
.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 365px;
    height: auto;
    background-color: #FFFFFF;
    text-align: left;
}
.sidebar__item {
    width: 100%;
    display: inline-block;
    color: #000000;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
}

.margin-block {
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
}
.main {
    padding-top: 150px;
}

.bg-image__sticky-wrap {
    position: sticky;
    top: 80px;
    z-index: -2;
}

.bg-image__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.bg-image {
    position: sticky;
    top: 150px;
    bottom: 0;
    left: 100%;
    z-index: -1;
}
.absolute {
    position: relative;
    height: 100%;
}
.section {
    display: flex;
    flex-direction: column;
    width: 785px;
    gap: 40px;
    margin-bottom: 70px;
}
.chapter-name {
    font-family: "FrancoisOne";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
}

.main__content {
    font-family: "PT-Sans";
    font-weight: 400;
    font-size: 28px;
    color: #000000;
    line-height: 48px;
}
.main__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main__list-item {
    list-style-image: url(../assets/images/plus-marker.png);
    margin-left: 22px;
}