@import url(../assets/fonts/Farro/Farro-Light.css);
@import url(../assets/fonts/Francois-one/FrancoisOne.css);
@import url(../assets/fonts/PT-Sans/PT-Sans.css);
@import url(../assets/fonts/Staatliches/Staatliches.css);
@import url(../assets/fonts/Tourney/Tourney.css);

body {
    background-color: #FFFFFF;
}

.reset-link, .reset-link:active, .reset-link:hover {
  text-decoration: none;
}
.inline-block {
    display: inline-block;
}
.small {
    font-family: "Farro";
    text-transform: none;
    font-size: 16px;
    vertical-align: text-top;
    margin-left: 10px;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.color-selection {
    background-color: #d1d1d1;
    padding: 5px 0;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    align-items: center;
    margin-bottom: 70px;
}

.header__wrapper {
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.language-button {
    cursor: pointer;
    background: none;
    display: inline-block;	
    font-family: "Tourney";
    font-size: 22px;
    line-height: 18px;
    color: #000000;
    border: 1px #000000;
    padding: 0;
    margin-right: 50px;
}
.language-button:hover {
    color: #808080;
}
.header__documentation-link {
    font-family: "Staatliches";
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}
.header__documentation-link:hover {
    color: #808080;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 70px;
}
.chapter-name {
    font-family: "FrancoisOne";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
}

.main__content {
    font-family: "PT-Sans";
    font-weight: 400;
    font-size: 28px;
    color: #000000;
    line-height: 48px;
}
.main__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main__list-item {
    list-style-image: url(../assets/images/plus-marker.png);
    margin-left: 22px;
}